*{
  box-sizing: border-box;
}

.container{
  min-height: 100vh;
  max-width: 100vw;
}

.first-container{
  background-image: url(../public/images/bg-image.jpg);
  background-size: cover;
  height: 40vh;
  padding-bottom: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon-container{
  background-color:  #1C1C1C33;
  padding-top: 8px;
  padding-left: 28px;
  
}

.main-icon{
  width: 65px;
}

.caption-container{
  padding-left: 28px;
}

.heading{
  color: white;
  font-size: 22px;
  font-weight: 600;
}

.btn{
  height: 28px;
  width: 90px;
  border: none;
  background-color: white;
  color: #FE0000;
  font-size: 10px;
  font-weight: 800;
}

.middle-container{
  padding: 12px;
  text-align: center;
}

.about-heading-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.line{
  height: 4px;
  width: 35vw;
  background-color: #F27121;
  align-self: center;
}

.heading2{
  color: #F27121;
  font-weight: 700;
  align-self: center;
}

.about-description{
    font-size: 11px;
}

.about-caption{
  font-size: 12px;
  font-weight: 600;
}

.product-container{
  border: 1px solid #CECECE;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.product-image{
  height: 300px;
  width: 100%;
  margin-bottom: 5px;
}

.quick-view-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name{
  font-size: 14px;
  font-weight: 700;
}

.btn2{
  height: 28px;
  width: 90px;
  border: none;
  background-color: #FE0000;
  color: white;
  font-size: 10px;
  font-weight: 600;
}

.full-line{
  height: 4px;
  width: 100%;
  background-color: #F27121;
  align-self: center;
}

.last-container{
  background-color: #25A769;
  border-top: 5px solid #ECE14C;
  border-bottom: 5px solid #ECE14C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}

.follow-us-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.decor-icon{
  width: 26px;
}

.follow-us-text{
  font-size: 12px;
  font-weight: 600;
  color: #ECE14C;
  margin: 5px;
}

.icon{
  width: 20px;
  margin-right: 3px;
}

@media screen and (min-width: 992px) {
  .first-container{
    height: 50vh;
  }

  .main-icon{
    width: 80px;
  }  

  .icon-container{
    padding-top: 12px;
    padding-bottom: 3px;
    padding-left: 60px;
  }

  .caption-container{
    padding-left: 60px;
  }

  .heading{
    font-size: 26px;
  }

  .btn{
    height: 32px;
    width: 120px;
  }

  .middle-container{
    padding: 56px;
    display: flex;
    flex-direction: column;
  }

  .line{
    height: 6px;
  }

  .heading2{
    font-size: 24px;
  }

  .about-text-container{
    max-width: 60%;
    align-self: center;
  }

  .about-description{
    font-size: 14px;
  }

  .about-caption{
    font-size: 16px;
    font-weight: 700;
  }

  .products-container{
    display: flex;
    align-items: center;
    align-self: center;
  }

  .product-container{
    margin: 22px;
  }

  .full-line{
    height: 6px;
    width: 95%;
  }

  .btn2{
    height: 32px;
    width: 120px;
  }

  .last-container{
    padding-right: 10px;
    padding-left: 10px;
  }

  .decor-icon{
    width: 36px;
  }

  .follow-us-text{
    font-size: 14px;
  }

  .icon{
    width: 24px;
    margin: 6px;
  }
}